.title{
    display: flex;
    justify-content: center;
}

/*할일입력 인풋박스*/
.inputBox{
    width: 400px;
    height: 30px;
    padding-left: 10px;
    border-radius: 10px;
    border: 2px dotted rgb(190, 223, 255);
}



/*할일입력 인풋박스를 감싸는 form태그*/
.formWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:10px;
}



.Btn{
    width: 150px;
    height: 30px;
    border: 2px solid rgb(156, 212, 255);
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    margin-top: 10px;
}
.Btn:hover{
    background-color: rgb(156, 212, 255);
    color: white;
}

.taskMenu{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.editingInputWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}
.editingInput{
    padding-left: 10px;
    border-radius: 10px;
    border: 2px dotted rgb(190, 223, 255);
}

.detail-container{
    display: flex;
    justify-content: center;
    color: black;
}

.taskTitleWrapper{
    display: flex;
    flex-direction: column;
    
}
.taskBodyWrapper{
    display: flex;
    flex-direction: column;
}