.nav-body{
    height: 50px;
}
#nav-title{
    color:rgb(255, 71, 71);
    background: none;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
    width: 50px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    /* display: flex;
    justify-content: start;
    text-decoration-style: none; 글자 밑에 줄 나타남;;*/
}
.nav-btn{
    display: flex;
    justify-content: end;
    gap: 15px;
    color: #FFFF;
    border: none;
    cursor: pointer;
    margin-right: 25px;
    /* margin-top: 0; */
    border-radius: 7px;    
}


#nav-btn1{
    background: none;
    color: #FFFF;
    border: none;
    cursor: pointer;
}


#nav-btn2{
    background-color: rgb(255, 71, 71);
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}
#nav-btn2:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 71, 71);
}